@mixin flexDirection($direction) {
    display: flex;
    flex-direction: $direction;
  }

  @mixin imageOverlay() {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // Mobile Typography

  @mixin mPrimaryHeader() {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-family: "avenir-bold";
    padding: 1.5rem 1rem 1rem 1rem;
  }

  @mixin mSecondaryHeader() {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-demi";
    text-align: left;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  @mixin mBodyCopy() {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
    padding: 0 1rem 1rem 1rem;
  }

  @mixin mFooterCopy() {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
  }

  @mixin mLabelsButtons() {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-family: "avenir-bold";
    padding: 1rem;
  }

  // Tablet & Desktop Typography

  @mixin pageHeader() {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: "avenir-bold";
    text-align: left;
  }

  @mixin sectionHeader() {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "avenir-regular";
    font-weight: 700;
    text-align: left;
  }

  @mixin subHeader() {
    font-size: 1.5rem;
    line-height: 2.75rem;
    font-family: "avenir-demi";
    text-align: left;  
  }

  @mixin bodyCopy() {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-regular";
    text-align: left;  
  }

  @mixin footerCopy() {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "avenir-regular";
    text-align: left; 
  }

  @mixin labelsButtons() {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: "avenir-bold";
    padding: 1rem;
  }

  // Screen Sizes

  @mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @mixin desktop {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }