
  @font-face {
    font-family: "avenir-regular";
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  }
  @font-face {
    font-family: "avenir-bold";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
  }
  @font-face {
    font-family: "avenir-demi";
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "avenir-regular";
  }
  
  .about__header {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-family: "avenir-bold";
    padding: 1.5rem 1rem 1rem 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .about__header {
      font-size: 3.75rem;
      line-height: 4.25rem;
      font-family: "avenir-bold";
      text-align: left;
    }
  }
  .section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-family: "avenir-demi";
    padding: 1.5rem 1rem 1rem 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .section-header {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-family: "avenir-demi";
      font-weight: 700;
      text-align: left;
      padding: 2.25rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .section-header {
      padding-left: 8rem;
    }
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    align-content: center;
    min-width: 100vw;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1280px) {
    .navbar {
      padding-left: 5rem;
    }
  }
  .navbar__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: 0 auto;
    padding: 1rem 0;
    justify-self: flex-start;
  }
  
  @media screen and (min-width: 768px) {
    .navbar__logo {
      max-height: 1.25rem;
      max-width: 7.5rem;
      align-self: center center;
      margin: auto 0;
      padding: 1rem 2.25rem 2rem 2.25rem;
    }
  }
  .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .navbar__list {
      justify-content: space-around;
      padding-left: 4rem;
    }
  }
  .navbar__item {
    list-style: none;
    padding: 1rem;
    display: flex;
    align-content: center;
  }
  
  .navbar__item:hover {
    color: #e1e1e1;
    filter: brightness(300%);
    border-bottom: 0.25rem solid #000000;
  }
  
  .navbar__item--active {
    border-bottom: 0.25rem solid #ffffff;
    font-family: "avenir-bold";
    padding-left: 2.75rem;
    padding-right: 3rem;
  }
  
  @media screen and (min-width: 768px) {
    .navbar__item--active {
      border-bottom: 0.25rem solid #ffffff;
      font-family: "avenir-bold";
      padding: 1rem 0 1.5rem 0;
    }
  }
  .navbar__item--inactive {
    padding-right: 3.75rem;
    margin-left: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .navbar__item--inactive {
      padding: 1rem 1rem 1.5rem 1rem;
    }
  }
  .navbar__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.875rem;
  }
  
  .navbar__link--inactive {
    text-decoration: none;
    color: #e1e1e1;
  }
  
  .hero {
    position: relative;
  }
  
  .hero__title {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-family: "avenir-demi";
    padding: 1.5rem 1rem 1rem 1rem;
    position: absolute;
    top: 4rem;
    color: #ffffff;
  }
  
  @media screen and (min-width: 768px) {
    .hero__title {
      font-size: 3.75rem;
      line-height: 4.25rem;
      font-family: "avenir-demi";
      text-align: left;
      padding: 2.25rem;
      top: 10rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .hero__title {
      left: 5rem;
      top: 12rem;
    }
  }
  .hero__img {
    background-image: url("../../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100vw;
    height: 12rem;
    position: relative;
  }
  
  @media screen and (min-width: 768px) {
    .hero__img {
      height: 60vh;
      max-width: 100vw;
    }
  }
  .hero__imgoverlay {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .about__quote {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-bold";
    padding: 0.25rem 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .about__quote {
      padding: 2.25rem 6rem 0rem 6rem;
      font-family: "avenir-demi";
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  .about__quote--artist {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-regular";
    text-align: left;
    padding: 0.5rem 1rem;
    font-family: "avenir-demi";
    font-weight: 200;
  }
  
  @media screen and (min-width: 1280px) {
    .about__quote {
      padding: 2.25rem 21rem 0 13rem;
    }
    .about__quote--artist {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-family: "avenir-regular";
      text-align: left;
      padding: 0.5rem 13rem;
      font-family: "avenir-demi";
      font-weight: 200;
    }
  }
  .about__img {
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .about__img {
      padding: 0 6rem;
      overflow: hidden;
      height: 48vh;
    }
  }
  @media screen and (min-width: 1280px) {
    .about__img {
      padding: 0 13rem;
      height: 60vh;
    }
  }
  .biography {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .biography__header {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "avenir-demi";
    text-align: left;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .biography__header {
      font-size: 1.5rem;
      line-height: 2.75rem;
      font-family: "avenir-demi";
      text-align: left;
      padding-left: 3.75rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .biography__header {
      padding-left: 13rem;
    }
  }
  .biography__card {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
    .biography__card {
      display: flex;
      flex-direction: row;
      padding: 0 2.75rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .biography__card {
      padding: 0 12rem 2.5rem 12rem;
    }
  }
  .biography__card--text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
    padding: 0 1rem 1rem 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .biography__card--text {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-family: "avenir-regular";
      text-align: left;
    }
  }
  .gallery {
    display: flex;
    flex-direction: column;
    background: #fafafa;
  }
  
  @media screen and (min-width: 768px) {
    .gallery {
      padding-bottom: 2.25rem;
    }
  }
  .gallery__img {
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0 1rem 1rem 1rem;
    filter: grayscale(1);
  }
  
  .gallery__im:hover {
    filter: grayscale(0);
  }
  
  @media screen and (min-width: 768px) {
    .gallery__img {
      padding: 0.5rem;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 1280px) {
    .gallery__img {
      padding: 0rem;
    }
  }
  .gallery__container {
    padding: 0;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .gallery__container {
      max-width: 30vw;
      height: auto;
    }
  }
  @media screen and (min-width: 1280px) {
    .gallery__container {
      max-width: 25vw;
      height: auto;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
  @media screen and (min-width: 768px) {
    .gallery__wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;
      padding: 0 1.5rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .gallery__wrap {
      padding: 0 6.5rem;
    }
  }
  .footer {
    background: #323232;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }
  @media screen and (min-width: 1280px) {
    .footer {
      padding: 0 8rem;
    }
  }
  .socialmedia {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  
  @media screen and (min-width: 768px) {
    .socialmedia {
      display: flex;
      flex-direction: row;
    }
  }
  .socialmedia__header {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-family: "avenir-bold";
    padding: 1.5rem 1rem 1rem 1rem;
    color: #ffffff;
  }
  
  @media screen and (min-width: 768px) {
    .socialmedia__header {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-family: "avenir-regular";
      font-weight: 700;
      text-align: left;
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .socialmedia__header {
      padding: 3rem 2.25rem 2.25rem 0.5rem;
    }
  }
  .socialmedia__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #323232;
  }
  
  @media screen and (min-width: 768px) {
    .socialmedia__wrap {
      align-content: flex-end;
    }
  }
  .socialmedia__icons {
    background: #323232;
    padding: 0 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .socialmedia__icons {
      padding-top: 4rem;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  
  @media screen and (min-width: 768px) {
    .contact {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0 1.5rem 2.25rem 1.5rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .contact {
      padding: 0 0.75rem 1rem 0.75rem;
      justify-content: flex-start;
    }
  }
  .contact__info {
    padding-left: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .contact__info {
      justify-content: space-evenly;
      padding-left: 0rem;
      width: 30vw;
    }
  }
  @media screen and (min-width: 1280px) {
    .contact__info {
      justify-content: flex-start;
      width: 20vw;
    }
  }
  .contact__info--title {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
    font-family: "avenir-demi";
    color: #ffffff;
    padding: 1rem 0;
  }
  
  @media screen and (min-width: 768px) {
    .contact__info--title {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: "avenir-regular";
      text-align: left;
      font-family: "avenir-demi";
    }
  }
  .contact__info--address {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
    padding: 0.5rem 0;
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (min-width: 768px) {
    .contact__info--address {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: "avenir-regular";
      text-align: left;
    }
  }
  .contact__info--email {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
    padding: 0.5rem 0;
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (min-width: 768px) {
    .contact__info--email {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: "avenir-regular";
      text-align: left;
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 2rem 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .copyright {
      padding-top: 0;
      padding-bottom: 2.25rem;
    }
  }
  .copyright__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    padding: 1rem 0;
  }
  
  @media screen and (min-width: 768px) {
    .copyright__logo {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .copyright__logo {
      right: 8.5rem;
    }
  }
  .copyright__text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "avenir-regular";
    text-align: left;
    color: #ffffff;
    padding-top: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .copyright__text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: "avenir-regular";
      text-align: left;
      padding-left: 0.9rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .copyright__text {
      padding-left: 0rem;
    }
  }/*# sourceMappingURL=bio.css.map */